
* {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
html {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  min-height: 100%;
  font-family: 'Roboto', 'Noto', sans-serif;
  color: #333;
  position: relative;
  background: #e7e7e7;
}
.note {
  display: block;
  width: 80%;
  max-width: 500px;
  margin: 2em auto;
  border-radius: 3px;
  padding: 16px;
  box-sizing: border-box;
  background: white;
  text-align: left;
}
.note a {
  color: #689F38;
  text-decoration: none;
}
.note p:first-child {
  margin-top: 0;
}
.note p:last-child {
  margin-bottom: 0;
}

#js-note {
  display: none;
}
.no-js #js-note {
  display: block;
}

#comp-note {
  display: none;
}
body[unresolved] #comp-note {
  display: block;
}
.no-js body[unresolved] #comp-note {
  display: none;
}
